<div class="container-fluid">
  <app-search-bar [configuration]="configuration" (onSearch)="onSearch($event)">
  </app-search-bar>
  <div class="albums">
    <div class="row" *ngIf="datas$ | async as photos">
      <ng-container *ngFor="let photo of photos; index as i">
        <div class="col-xs-6 col-md-4 col-lg-2">
          <div class="card">
            <div class="card-body">
              <div (click)="openImage(i)">
                <img
                  lazy
                  src="{{ photo.thumbnailUrl }}"
                  style="height: 100%; width: 100%; object-fit: contain"
                />
              </div>
              <h6 class="card-title">
                <label class="ellipsis">{{
                  photo.title | firstCharUpperPipe
                }}</label>
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [maxSize]="pageSize"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="refreshAlbums()"
    ></ngb-pagination>

    <select
      class="custom-select"
      style="width: auto"
      [(ngModel)]="pageSize"
      (ngModelChange)="refreshAlbums()"
    >
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</div>
