<div class="d-flex navbar-wrapper">
  <ul
    ngbNav
    [activeId]="activeId$ | async"
    #nav="ngbNav"
    class="nav-pills w-100 p-1"
    orientation="vertical"
  >
    <h3 id="title">My App</h3>
    <li class="group">Main</li>
    <li class="nav-item active" [ngbNavItem]="links[0].href">
      <a class="nav-link" ngbNavLink routerLink="{{ links[0].href }}">
        <fa-icon [icon]="links[0].icon"></fa-icon>
        {{ links[0].label }}</a
      >
    </li>
    <li class="group">Pages</li>
    <li class="nav-item active" [ngbNavItem]="links[1].href">
      <a class="nav-link" ngbNavLink routerLink="{{ links[1].href }}">
        <fa-icon [icon]="links[1].icon"></fa-icon>
        {{ links[1].label }}</a
      >
    </li>
    <li class="nav-item active" [ngbNavItem]="links[2].href">
      <a class="nav-link" ngbNavLink routerLink="{{ links[2].href }}">
        <fa-icon [icon]="links[2].icon"></fa-icon>
        {{ links[2].label }}</a
      >
    </li>
    <li class="nav-item active" [ngbNavItem]="links[3].href">
      <a class="nav-link" ngbNavLink routerLink="{{ links[3].href }}">
        <fa-icon [icon]="links[3].icon"></fa-icon>
        {{ links[3].label }}</a
      >
    </li>
  </ul>
</div>
