$color-main--gray: #f8f9fa;
$color-main--gray50: #f0f1f2;
$color-main--gray100: #9dabb9;
$color-main--white: #f8f9fa;
$color-decor--blue: #2596be;
$color-decor--dark: #303c54;
$color-decor--black: #0e0e0e;
$color-decor--green: #3fcf80;

$color-decor--border-gray: rgba(0, 0, 0, 0.125);
$color-decor--border-gray2: #00000020;

$color-decor--text-black: #3E3E3E;
